# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
**/.vscode
.devcontainer/
**/*.bak

# Misc
_sass/dist
assets/js/dist

ggshield_output.txt
trufflehog_output.txt